.App {
  text-align: center;
}

#searchbutton {
  background-image: url("./img/searchbar-Button.svg");
  width: 62px;
  height: 46px;
  background-color: white;
  background-repeat: no-repeat;
  border: none;
}

#searchbutton:hover {
  cursor: pointer;
}
